# Application
APP_SECRET=8eb82cb3d3fc6650f3b3b68bb3bbe81c

APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

#Storage
STORAGE_DRIVER=disk

# Mail
MAIL_DRIVER=ethereal

